body {
    margin: 0px;
    padding: 0px;
    font-size: 1vw;
    font-weight: bold;
    letter-spacing: 2px;
}

.header_main h1 {
    margin: 0;
    margin-top: 10px;
}

.header_main p {
    margin: 0%;
    letter-spacing: 5px;
    margin-bottom: 2px;
}

.header_main {
    text-align: left;

}

.header_contents {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.list {
    list-style: none;
    padding-right: 90px;
}

.list li {
    width: 160px;
    text-align: end;
    display: inline-block;
}
.list li a {
    text-decoration: none;
    color: black;
}

header {
    box-shadow:  1px 1px 1px rgb(231, 231, 231);
}

.header_under {
    background-color: rgb(29, 29, 29);
    height: 30vw;
    margin-bottom: 50px;
}

.header_photo {
    height: 30vw;
    width: 100%;
    object-fit: cover;
}

.main_1 {
    display: flex;
    justify-content: center;
}

.header_1 {
    color: white;
    background-color: rgb(53, 53, 53);
    padding: 10px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}


.news {
  padding: 50px 0;
  background: #FFF7EA;
}


.inner {
  width: 80%;
  background-color: #fff;
  margin: 0 auto;
  padding: 65px 0 100px;
}


.sub_ttl {
  font-size: 30px;
  text-align: center;
  margin-bottom: 40px;
}

/* ここからがニュース記事のCSS */

.news_list {
  margin: 0 5%;
}

.news_list_item {
  padding: 25px 0;
  border-bottom: 1px solid #E6E6E6;
}

.news_list_item:first-child {
  border-top: 1px solid #E6E6E6;
}
.news_list_item a {
 position: relative;
 display: flex;
 padding-right: 30px;
}

.news_list_date {
  font-size: 15px;
  display: flex;
  margin-right: 15px;
  align-items: center;
}

.news_item {
    color: white;
  background: rgb(53, 53, 53);
  width: 6em;
  /* 親要素の文字サイズを基準 */
  text-align: center;
  margin-left: 20px;
}

.arrow {
  width: 25px;
  height: 1px;
  background: #707070;
  position: absolute;
  top: 50%;
  right: 0;
}

.main_2 {
    display: flex;
    justify-content: center;
}

.header_2 {
    color: white;
    background-color: rgb(53, 53, 53);
    padding: 10px;
}

.product_header {
    padding-bottom: 50px;
}

.product_header p {
    font-size: 125%;
    text-align: center;
    letter-spacing: 5px;
}

span {
    font-size: 150%;
    color: #EB4A09;
}

.product_body {
    margin-left: 25px;
    margin-right: 25px;
    display: flex;
    align-items: center;
}

.product_photo {
    width: 50%;
}

.product_photo img {
    width: 75%;
    height: 75%;
    margin-left: 12%;
}

.product_comment p {
    font-size: 125%;
    background-color: rgb(53, 53, 53);
    color: white;
    line-height: 200%;
    padding: 5%;
}
