body {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 1vw;
    font-weight: bold;
    letter-spacing: 2px;
}

.header_main h1 {
    margin: 0;
    margin-top: 10px;
}

.header_main p {
    margin: 0%;
    letter-spacing: 5px;
    margin-bottom: 2px;
}

.header_main {
    text-align: left;
}

.logo {
    width: 150px;
    height: 100px;
}

@media screen and (max-width: 400px) {
    .logo {
        width: 75px;
        height: 50px;
    }
}

.header_contents {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.list {
    list-style: none;
}

.list li {
    text-align: end;
    display: inline-block;
    margin: 0 1vw 0 1vw;
}
.list li a {
    text-decoration: none;
    color: black;
}

@media screen and (max-width: 400px) {
    .list li a {
        font-size: 10px;
    }
}

header {
    box-shadow:  1px 1px 1px rgb(231, 231, 231);
}

.header_under {
    background-color: rgb(29, 29, 29);
    height: 30vw;
    margin-bottom: 3vw;
}

.header_photo {
    height: 30vw;
    width: 100%;
    object-fit: cover;
}

.main_1 {
    display: flex;
    justify-content: center;
}

.header_1 {
    color: white;
    background-color: rgb(53, 53, 53);
    padding: 10px;
    margin-bottom: 4vw;
}

.SpeakerDeck{
    text-align: center;
}

.Youtube{
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}


.news {
  padding: 50px 0;
  background: #FFF7EA;
}


.inner {
  width: 80%;
  background-color: #fff;
  margin: 0 auto;
  padding: 65px 0 100px;
}


.sub_ttl {
  font-size: 30px;
  text-align: center;
  margin-bottom: 40px;
}

.news_list {
  margin: 0 5%;
}

.news_list_item {
  padding: 25px 0;
  border-bottom: 1px solid #E6E6E6;
}

.news_list_item:first-child {
  border-top: 1px solid #E6E6E6;
}
.news_list_item a {
 position: relative;
 display: flex;
 padding-right: 30px;
}

.news_list_date {
  font-size: 1.5vw;
  display: flex;
  margin-right: 15px;
  align-items: center;
}

.news_item {
    color: white;
  background: rgb(53, 53, 53);
  width: 6em;
  text-align: center;
  margin-left: 20px;
}

.arrow {
  width: 25px;
  height: 1px;
  background: #707070;
  position: absolute;
  top: 50%;
  right: 0;
}

@media screen and (max-width:400px) {
    .news_contents p {
        font-size: 10px;
    }
}
.main_2 {
    display: flex;
    justify-content: center;
}

.header_2 {
    color: white;
    background-color: rgb(53, 53, 53);
    padding: 10px;
    margin-top: 3vw;
    margin-bottom: 4vw;
}

.product_header {
    padding-bottom: 3vw;
}

.product_header p {
    font-size: 125%;
    text-align: center;
    letter-spacing: 0.5vw;
    padding:0vw 2vw 0vw 2vw ;
}

span {
    font-size: 150%;
    color: #EB4A09;
}

@media screen and (max-width:400px) {
    .product_header {
        font-size: 13px;
    }
}
.photo_name {
    color: white;
    background-color: rgb(53, 53, 53);
    padding: 10px;
}

.product_body {
    height: 70vw;
    margin-left: 25px;
    margin-right: 25px;
    display: flex;
    align-items: center;
}

.member_body {
    height: 35vw;
    margin-left: 25px;
    margin-right: 25px;
    display: flex;
    align-items: center;
}


.product_photo {
    width: 50%;
}

.product_photo img {
    width: 75%;
    height: 75%;
    margin-left: 12%;
}

.product_comment p {
    font-size: 125%;
    background-color: rgb(53, 53, 53);
    color: white;
    line-height: 200%;
    padding: 5%;
}

@media screen and (max-width:400px) {
    .product_comment p {
        font-size: 8px;
    }
}


footer{
    width: 100%;
    background-color: rgb(195, 195, 195);
    color: #fff;
    text-align: center;
    padding: 2vw 0;
    position: fixed;/*←絶対位置*/
    bottom: 0;
}
